{% extends "base.html" %}
{% block content %}
	<div class="row">
		<div class="center-inner-block">
			<h2>Create Menu Item</h2>
			<form>
				<div class="form-group">
					<label>Name</label>
					<input type="text" class="form-control" name="name" value="{{ item.name }}">
				</div>
				<div class="form-group">
					<label>Course</label>
					<input type="text" class="form-control" name="course" value="{{ item.course }}">
				</div>
				<div class="form-group">
					<label>Price</label>
					<input type="text" class="form-control" name="price" value="{{ item.price }}">
				</div>
				<div class="form-group">
					<label>Description</label>
					<textarea class="form-control" name="description">{{ item.description }}	
					</textarea>
				</div>
				<div class="form-group">
					<label>Select Image to Upload</label>
					<input type="file" name="image">
					<img src="{{ item.image }}" class="little-margin-top">
				</div>
				<input type="submit" class="btn btn-submit center-block" value="Edit">
			</form>
		</div>
	</div>
{% endblock %}
