{% extends "base.html" %}
{% block content %}
	<div class="row">
		<div class="col-md-12">
			<h2 class="text-center">{{ restaurant.name}} Menu</h2>
		</div>
	</div>
	<div class="row">
		{% for item in items %}
			<div class="col-md-4">
				<h3>{{ item.name }}</h3>
				<img src="{{ item.image }}">
				<a class="display-block" href="{{ url_for('editMenuItem', restaurant_id=restaurant_id, menu_id=item.id) }}" class="Edit">Edit</a>
				<a class="display-block" href="{{ url_for('deleteMenuItem', restaurant_id=restaurant_id, menu_id=item.id) }}" class="Edit">Delete</a>
			</div>
		{% endfor %}
	</div>
{% endblock %}