{% extends "base.html" %}
{% block content %}
	<div class="row">
		<div class="center-inner-block">
			<h2>Create New Restaurant</h2>
			<form method="post" action="{{ url_for('newRestaurant') }}">
				<div class="form-group">
					<label>Name</label>
					<input type="text" class="form-control" name="name">
				</div>
				<div class="form-group">
					<label>Insert Image Link(Opcional)</label>
					<input type="text" name="image_url">
					<img src="http://lorempixel.com/400/200/city/1/" class="little-margin-top">
				</div>
				<input type="submit" class="btn btn-submit center-block">
			</form>
		</div>
	</div>
{% endblock %}

